
.inputs{
    padding: 5px;
    margin: 1px;
}
p{
    display: flex;
}
img{
    padding: 8px;
   border-radius: 15px;
}
.cont{
    width: 50px;
    display: flex;
}
h6{
    margin: 2px;
    color: rgb(10, 10, 10);
}